* {
  box-sizing: border-box;
  font-family: "Segoe UI", serif;
}

body {
  background-color: #eeeefe;
  margin-bottom: 100px;
}

#header-box {
  background-color: #3B5998;
  height: 100px;
  width: 100%;
}

#header-wrap {
  width: 1080px;
  margin: 0 auto;
}

#logo {
  padding-top: 26px;
  color: white;
  float: left;
}

#logo a,
  #user-first-name {
  color: white;
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
}

#sign-in-form {
  float: right;
  display: flex;
  width: 600px;
  justify-content: flex-end;
  color: white;
}

#search-bar {
  padding-top: 40px;
  height: 55px;
}

.search-for-users {
  width: 600px;
  margin-left: 75px;
  height: 32px;
}

#user-first-name {
  float: right;
  margin-top: -10px;
  font-size: 28px;
}

#email-or-phone,
  #password-wrap {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

#password-wrap,
  .log-in-button {
  margin-left: 12px;
}

.sign-in,
  .password {
  margin-top: -10px;
  width: 175px;
}

#password-wrap a {
  text-decoration: none;
  color: steelblue;
  padding-top: 2px;
}

.log-in-button,
  #edit-your-profile {
    border: none;
    padding: 1px 5px;
    height: 25px;
    width: 65px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}

#main-wrap {
  display: flex;
  width: 1080px;
  margin: 0 auto;
  background-color: #eeeefe;
  clear: both;
  flex-wrap: wrap;
}

#left-main-wrap {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 1000px;
  font-family: "Segoe UI";
}

#right-main-wrap {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 1000px;
}

#top-main-wrap {
  display: flex;
  flex-direction: column;
  width: 1080px;
  margin-top: -12px;
}

#profile-image {
  height: 220px;
  width: 190px;
  z-index: 999;
  position: absolute;
  margin-top: 250px;
  margin-left: 25px;
  border: 3px solid black;
}

#user-name-profile-page {
  position: absolute;
  z-index: 999;
  margin-top: 385px;
  margin-left: 235px;
  color: white;
  font-size: 36px;
}

#background-profile-image {
  height: 450px;
  width: 1080px;
  border: 3px solid black;
}

#user-boxes {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 1080px;
}

#empty,
  #timeline,
  #about,
  #photos,
  #friends,
  #edit-profile {
    border: 2px solid black;
  }

#empty {
  width: 250px;
}

#timeline,
  #about,
  #photos,
  #friends {
  width: 150px;
  padding-top: 12px;
  padding-left: 20px;
}

#about {
  background-color: lightblue;
  font-weight: bold;
}

#timeline:hover,
  #about:hover,
  #photos:hover,
  #friends:hover {
    cursor: pointer;
}

span {
  color: grey;
}

#edit-profile {
  width: 230px;
  padding-top: 12px;
  text-align: right;
  padding-right: 2px;
}

#edit-profile a {
  text-decoration: none;
  text-color: blue;
  }

#connect {
  font-size: 30px;
  padding-top: 40px;
  width: 450px;
  font-weight: bold;
}

.homepage-left {
  margin-top: 25px;
  margin-bottom: -10px;
  font-size: 18px;
}

.homepage-left img {
  width: 55px;
}

.homepage-left strong {
  margin: 0 17px;
  position: relative;
  top: -40%;
  transform: translateY(-50%);
}

.homepage-left span {
  position: relative;
  top: -40%;
  transform: translateY(-50%);
}

#sign-up {
  font-size: 38px;
  font-weight: bold;
  margin-top: 20px;
}

#free {
  font-size: 20px;
  margin-top: -41px;
}

#name input {
  width: 212px;
  height: 40px;
  font-size: 20px;
  padding-left: 8px;
  border: none;
  border-style: none;
  border: 1px grey solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

#first-name {
  margin-right: 11.5px;
}

#mobile, #new-password, .search-for-users {
  height: 40px;
  font-size: 20px;
  padding-left: 8px;
  border: none;
  border-style: none;
  border: 1px grey solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

#birthday {
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 10px;
}

#birthdate {
  display: flex;
}

#birthdate select {
  height: 32px;
  width: 72px;
  font-size: 16px;
}

#day {
  width: 68px;
}

#birthdate a {
  font-size: 12px;
  text-decoration: none;
  font-color: blue;
  margin-left: 15px;
  width: 200px;
}

#birthdate a:hover,
  #edit-profile a:hover {
  text-decoration: underline;
}

#gender {
  margin-top: 10px;
  font-size: 22px;
}

#create {
  font-size: 12px;
  width: 350px;
}

#right-main-wrap a {
  font-size: 12px;
  text-decoration: none;
  font-color: blue;
}

#create-account {
  background-color: green;
  color: white;
  height: 45px;
  width: 220px;
  font-size: 22px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid grey;
}

#celeb {
  font-size: 14px;
  font-weight: bold;
}

#bottom-main-wrap {
  display: flex;
  flex-direction: column;
  width: 1080px;
  margin: 0 auto;
  margin-top: 10px;
  border: 3px solid black;
}

#about-main {
  display: flex;
  height: 60px;
  border-bottom: 3px solid black;
}

#about-main p {
  text-align: center;
  width: 930px;
  padding-left: 75px;
  font-size: 36px;
  margin-top: 3px;
  font-weight: bold;
}

#edit-your-profile {
  margin-top: 10px;
  width: 150px;
  height: 35px;
  margin-right: 10px;
}

.about-left {
  width: 440px;
  padding-left: 30px;
  padding-top: 30px;
  height: 500px;
}

.about-left-right {
  width: 540px;
  padding-left: 50px;
  padding-top: 30px;
}

.about-title {
  width: 440px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: -5px;
}

.about-flex {
    display: flex;
    flex-direction: row;
  }

.titles p {
  width: 200px;
}

.answers p {
  width: 280px;
}
